<form method="POST" name="contact-regular" action="/contact/thanks/" netlify>
    <ul class="contact-list">
        <li>
            <label>お名前: <input type="text" name="Name" id="name" placeholder="お名前" ></lavel>
        </li>
        <li>
            <label>電話番号: <input type="tel" name="Tel" id="tel" placeholder="電話番号" ></lavel>
        </li>
        <li>
            <label>メールアドレス: <input type="email" name="Email" id="email" placeholder="メールアドレス" ></lavel>
            <!--<span>正しいメールアドレスを入力してください</span>-->
        </li>
        <li>
            <label>御社名・貴団体名等: <input type="text" name="Organization" id="organization" placeholder="御社名・貴団体名等" ></lavel>
        </li>
        <!--<li>
            <div class="contact-select">
             <select name="" id="">
                    <option value="">問合せ項目</option>
                </select>
            </div>
        </li>-->
        <li>
            <span class="contact-remarks">お問い合わせ内容</span>
            <textarea name="Message" placeholder="" id="message" ></textarea>
        </li>
    </ul>

    <!-- <div class="contact-recaptcha" data-netlify-recaptcha></div> -->

    <button type="submit" class="contact-btn">送信する</button>
</form>
