<footer class="l-footer">
    <div class="u-inner">
      <p>なんでもない”ふだん”に、幸せを届ける。</p>
      <p class="l-footer-logo"><a href="https://panadome.com/"><img src="/img/footer-logo.png" alt=""></a></p>
      <nav class="l-footer-nav">
        <ul>
            <li><a href="https://panadome.com/">&gt;&nbsp;運営会社</a></li>
            <li><a href="/privacy/">&gt;&nbsp;プライバシー</a></li>
            <li><a href="/recruit/">&gt;&nbsp;採用・募集</a></li>
        </ul>
      </nav>
    </div>
</footer><!--footer-->

<!-- javascript -->
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/js.cookie.js"></script>
<script type="text/javascript" src="/js/instafeed.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
{{ if eq .File.Dir "pictures/" }}
<script type="text/javascript" src="/js/instafeed.js"></script>
{{ end }}
{{ if eq .File.Dir "recruit/" }}
<script type="text/javascript" src="/js/instafeed.js"></script>
{{ end }}
{{ if .IsHome }}
<script type="text/javascript" src="/js/jquery.bgswitcher.js"></script>
<script>
$(function() {
    $('.bg-slider').bgSwitcher({
        images: [
          {{ range $.Site.Data.index.topBgPath }}
            '{{ $.Site.Data.index.topBgDir }}{{ . }}',
          {{ end }}
        ], // 切り替える背景画像を指定
    });
});
</script>
{{ end }}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script src="/app.js"></script>

</body>

</html>
