<footer class="l-footer">
    <div class="u-inner">
      <p>なんでもない”ふだん”に、幸せを届ける。</p>
      <p class="l-footer-logo"><a href="https://panadome.com/"><img src="/img/footer-logo.png" alt=""></a></p>
      <nav class="l-footer-nav">
        <ul>
            <li><a href="https://panadome.com/">&gt;&nbsp;運営会社</a></li>
            <li><a href="/privacy/">&gt;&nbsp;プライバシー</a></li>
            <li><a href="/recruit/">&gt;&nbsp;採用・募集</a></li>
        </ul>
      </nav>
    </div>
</footer><!--footer-->

<script src="/app.js"></script>

</body>  

</html>
