<section class="greeting">
    <div class="m-block">
        <h2 class="greeting-ttl">ごあいさつ</h2>
        <div class="greeting-cnt">
            <div class="greeting-cnt__box">
                <p>{{ markdownify .Site.Data.index.greeting }}</p>
            </div>
            <div class="greeting-cnt__name">
              <dl>
                  <dt><img src="/img/portraitOfCEO.jpg" alt="株式会社パナドーム代表取締役" width="150px"></dt>
                  <dt>株式会社パナドーム</dt>
                  <dd><span>代表取締役</span>藤井 伸昌</dd>
              </dl>
            </div>

        </div>
    </div>
</section><!-- /.greeting -->
