<head>

	<title>{{ .Title }} | パナプラス薬局</title>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="" >
	<meta name="keywords" content="" >


	<!-- Favicons -->
	<link rel="stylesheet" type="text/css" href="/css/import.css" media="all" >
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/img/android-chrome-512x512.png" sizes="192x192">

	<!-- Open Graph -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="パナプラス薬局｜ひとりひとりの、からだの声に。">
	<meta property="og:url" content="/">
	<meta property="og:image" content="/img/og-image.jpg">

	<!-- javascript -->
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/js.cookie.js"></script>
	<script type="text/javascript" src="/js/instafeed.min.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

	<title>|パナプラス薬局</title>
</head>
