<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">
	<div class="topleft">
		<!-- top line -->
		<div>
			<ul>
				<li>パナプラス薬局 | </li>
				<li>調剤薬局 | </li>
				<li>岡崎 | </li>
				<li>幸田 | </li>
				<li>処方箋 | </li>
				<li>在宅医療 | </li>
				<li>採用</li>
			</ul>
		</div>

		<!-- Logo -->
		<div>
			<a href="/" class="pa3 db mr4 h-100 w4 flex-none">
				<img src="/img/logo.svg" alt="パナプラス薬局" class="br0 db mb0 w-100"/>
			</a>
		</div>
	</div>
	<div class="topright">
		<!-- Primary Nav -->
		<div>
			<ul class="flex b grey-3">
				<li><a href="/" class="pa3 no-underline db">HOME</a></li>

				<li><a href="#stores" class="pa3 no-underline db">店舗案内</a></li>

				<li><a href="/homecare" class="pa3 no-underline db">在宅医療</a></li>

				<li><a href="/aboutus" class="pa3 no-underline db">会社概要</a></li>

				<li><a href="/recruit" class="pa3 no-underline db">採用情報</a></li>
			</ul>
		</div>
	</div>
</nav>
