<header class="l-header">
  <div class="l-header-inner">
    <div class="l-header-row">
      <h1 class="l-header-ttl">パナプラス薬局 | 調剤薬局 | 岡崎 | 幸田 | 処方箋 | 在宅医療 | 採用</h1>
      <p class="l-header-logo"><a href="/"><img src="/img/logo.svg" alt="ひとりひとりの、からだの声に。パナプラス薬局"></a></p>
    </div>
    <nav class="l-gnav">
      <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="store.html">店舗案内</a></li>
        <li><a href="/homecare/">在宅医療</a></li>
        <li><a href="page_m.html">会社概要</a></li>
        <li><a href="page_r.html">採用情報</a></li>
      </ul>
    </nav>
  </div>
</header><!--l-header-->
