<header>
    <div class="m-inner">
      {{ if eq .id "recruit" }}
        <div class="title title--recruit">
      {{ else }}
        {{ if eq .id "user" }}
          <div class="title title--user">
        {{ else }}
          <div class="title">
        {{ end }}
      {{ end }}
          {{ .heading }}</div>
        {{ if .description }}
        <div class="description">
            {{.description}}
        </div>
        {{ end }}
    </div>
    {{ if .image }}
    <p class="single-main"><img src="{{.image}}" alt="{{ .heading }}"></p>
    {{ end }}
</header>
