<img src="/img/menu-top-title.png" style="margin:1rem auto;max-width: 100%;" alt="教えて！ぱなぷらくん"/>
<img src="/img/menu-top.png" style="margin:0 auto;max-width: 100%;" alt="どんな人たちがいて、どんな職場だろう？"/>
<div class="single-links single-recruit">

    <ul>
        <li class="category-list-r2"><a href="/pictures/">職場の雰囲気</a></li>
        <li class="category-list-r3"><a href="/staffs/">先輩スタッフの声</a></li>
        <li class="category-list-r4"><a href="/application/">募集要項</a></li>
        <li class="category-list-r5"><a href="/welcome/">会社見学・OB訪問</a></li>
    </ul>
</div>
