<!--
要項一覧へのリンクリスト
-->
<div class="single-links single-links--green">
    <h3><span>薬剤師の募集</span></h3>
    <ul>
        <li><a href="">むつな店</a></li>
        <li><a href="">第二むつな店</a></li>
        <li><a href="">三ヶ根店</a></li>
        <li><a href="">能見店</a></li>
    </ul>
</div>
<div class="single-links single-links--l-green">
    <h3><span>メディカルコンシェルジュ（医療事務）の募集</span></h3>
    <ul>
        <li><a href="">むつな店</a></li>
        <li><a href="">第二むつな店</a></li>
        <li><a href="">三ヶ根店</a></li>
    </ul>
</div>
<div class="single-links single-links--yellow">
    <h3><span>管理栄養士の募集</span></h3>
    <ul>
        <li><a href="">むつな店</a></li>
        <li><a href="">第二むつな店</a></li>
    </ul>
</div>
