<section class="synergyMap">
  <p class="synergyMap-pop">薬局だけじゃ実現困難？</p>
  <h2 class="synergyMap-ttl">ＴＯＴＡＬ　ＳＵＰＰＯＲＴを実現。<br class="sp-only">患者様のお悩みを全部署でサポート</h2>
  <img src="/img/synergy.png" usemap="#ImageMap" alt="パナプラス薬局のシナジー" width="980" height="794" />
  <map name="ImageMap">
    <area shape="rect" coords="50,164,278,357" href="/" alt="薬局事業" />
    <area shape="rect" coords="702,166,935,318" href="https://sumai.panasonic.jp/agefree/map/detail.php?id=178" alt="介護事業" target="_blank"/>
    <area shape="rect" coords="50,373,278,522" href="https://concent.co/" alt="CONCENT" />
    <area shape="rect" coords="703,522,931,644" href="https://ouchiclinic.com/" alt="おうちクリニック" />
  </map>
</section>
