<div class="tabs">
  <input id="business" type="radio" name="tab_item" checked>
  <label class="tab_item" for="business">医療・介護事業者様</label>
  <input id="recruit" type="radio" name="tab_item">
  <label class="tab_item" for="recruit">採用情報</label>
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <p class="c-txtsp">医療・介護事業者様向けの内容がここに入ります</p>
    </div>
  </div>
  <div class="tab_content" id="programming_content">
    <div class="tab_content_description">
      <p class="c-txtsp">採用情報の内容がここに入ります</p>
    </div>
  </div>
</div>
