<section class="relation">
    <h2 class="m-ttl m-ttl--yellow">健康とお薬の良い関係</h2>
    <div class="m-unit m-unit--yellow">
        <div class="m-inner">
            <div class="relation-lead">
                <h3 class="relation-sub">かかりつけ薬剤師はいますか？</h3>
                 <p>複数のお薬との飲み合わせや、食事の状態、体調の変化によって薬が体に与える効果は変化します。時には誤った薬の使い方が体調を損ねてしまうことも。<br>ひとりひとりの体と、お薬の良い関係を保つためには、かかりつけ薬剤師がお薦め。通いやすい薬局で、かかりつけの薬剤師を決めておくことをお薦めします。<br>パナプラス薬局では、投薬後のアフターフォローを大切にし、親身な服薬支援を心がけています。お気軽に薬剤師にお声掛けください。</p>
             </div>
             <div>
                <h3 class="relation-sub">かかりつけ薬剤師の４つの良い所</h3>
                <ul class="m-list m-list--yellow relation-list">
                    <li>あなたの担当薬剤師が対応します</li>
                    <li>市販薬や、サプリメントの相談もOK</li>
                    <li>余った薬を調整・お薬のダイエット</li>
                    <li>外来でも、在宅でもお受けします</li>
                </ul>
                <p><a href="" class="m-btn m-btn--size-full">かかりつけ薬剤師の詳細</a></p>
            </div>
        </div>
    </div>
</section><!-- /.relation -->
