<!DOCTYPE HTML>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" >
<meta name="keywords" content="" >

<link rel="stylesheet" type="text/css" href="css/import.css" media="all" >
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="icon" type="image/png" href="android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/android-chrome-512x512.png" sizes="192x192">


<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/common.js"></script>


<title>|パナプラス薬局</title>
</head>
<body>
<div class="l-wrapper" id="wrapper">

<header class="l-header">
  <div class="l-header-inner">
    <div class="l-header-row">
      <h1 class="l-header-ttl">パナプラス薬局 | 調剤薬局 | 岡崎 | 幸田 | 処方箋 | 在宅医療 | 採用</h1>
      <p class="l-header-logo"><a href="index.html"><img src="img/common/logo.png" alt="ひとりひとりの、からだの声に。パナプラス薬局"></a></p>
    </div>
    <nav class="l-gnav">
      <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="store.html">店舗案内</a></li>
        <li><a href="contact.html">在宅医療</a></li>
        <li><a href="page_m.html">会社概要</a></li>
        <li><a href="page_r.html">採用情報</a></li>
      </ul>
    </nav>
  </div>
</header><!--l-header-->
<div class="l-contents">
<article class="single">
    <header>
        <div class="m-inner">
            <div class="title">title</div>
            <div class="description">
                薬剤師の在宅医療とは、◯◯◯をすることです。それによって、◯◯◯ができます。保険が適用されるので、少ないご負担でお困りの◯◯が改善できます。◯◯でお困りの方は、ご担当の医師、ケアマネージャーにご相談ください。
            </div>
        </div>
    </header>

    <section class="single-section">
        <p class="single-main"><img src="img/single/main.jpg" alt=""></p>
        <div class="m-inner">
            <h2>見出し h2</h2>
            <p>通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト</p>
            <h2>見出し h2</h2>
            <p>通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト、通常テキスト</p>
            <ul>
                <li>箇条書きリスト</li>
                <li>
                    箇条書きリスト
                    <ul>
                        <li>箇条書きリスト</li>
                        <li>箇条書きリスト</li>
                    </ul>
                </li>
            </ul>
            <ol>
                <li>数字つきリスト</li>
                <li>数字つきリスト</li>
                <li>数字つきリスト</li>
            </ol>
            <figure>
                <img src="img/store/main.jpg" alt="">
                <figcaption>キャプションがある場合はこちら</figcaption>
            </figure>
            <pre class="sg-pre"><pre><code><span>var s = ”JavaScript syntax highlighting”</span>;</code></pre></pre>
            <blockquote>ここに引用が入ります。ここに引用が入ります。</blockquote>
            <hr>
            <table>
                <tr>
                    <th></th>
                    <th>タイトル行</th>
                </tr>
                <tr>
                    <th>タイトル列</th>
                    <td>コンテンツ</td>
                </tr>
                <tr>
                    <th>タイトル列</th>
                    <td>コンテンツ</td>
                </tr>                
            </table>
            <ul class="m-photo-list">
                <li><img src="img/store/detail-01.jpg" alt=""></li>
                <li><img src="img/store/detail-02.jpg" alt=""></li>
                <li><img src="img/store/detail-03.jpg" alt=""></li>
                <li><img src="img/store/detail-04.jpg" alt=""></li>
            </ul>               
        </div>
    </section>
</div>
</article ><!--contents-->
<section class="single-contact">
    <div class="m-block">
        <h2 class="single-contact__ttl">お問い合わせ</h2>
        <dl class="single-contact__data">
            <dt>パナプラス薬局<br class="sp-only">在宅医療サポートセンター</dt>
            <dd>0120-174-890</dd>
        </dl>
        <p><a href="" class="m-btn m-btn--size-full">お問い合わせフォーム</a></p>
    </div>
</section>

<aside class="l-line-space">
  <div class="u-inner">
    <dl>
      <dt><img src="img/common/line-space-logo.png" alt=""></dt>
      <dd><a href="#"><img src="img/common/line-btn.png" alt=""></a></dd>
    </dl>
  </div>
</aside>
<footer class="l-footer">
    <div class="u-inner">
      <p>なんでもない”ふだん”に、幸せを届ける。</p>
      <p class="l-footer-logo"><img src="img/common/footer-logo.png" alt=""></p>
      <nav class="l-footer-nav">
        <ul>
            <li><a href="">&gt;&nbsp;運営会社</a></li>
            <li><a href="">&gt;&nbsp;プライバシー</a></li>
            <li><a href="">&gt;&nbsp;採用・募集</a></li>
        </ul>
      </nav>
    </div>
</footer><!--footer-->
</div><!--wrapper-->
</body>
</html>
