<!DOCTYPE HTML>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" >
<meta name="keywords" content="" >

<link rel="stylesheet" type="text/css" href="css/import.css" media="all" >
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="icon" type="image/png" href="android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/android-chrome-512x512.png" sizes="192x192">


<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/common.js"></script>


<title>|パナプラス薬局</title>
</head>
<body>
<div class="l-wrapper" id="wrapper">

<header class="l-header">
  <div class="l-header-inner">
    <div class="l-header-row">
      <h1 class="l-header-ttl">パナプラス薬局 | 調剤薬局 | 岡崎 | 幸田 | 処方箋 | 在宅医療 | 採用</h1>
      <p class="l-header-logo"><a href="index.html"><img src="img/common/logo.png" alt="ひとりひとりの、からだの声に。パナプラス薬局"></a></p>
    </div>
    <nav class="l-gnav">
      <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="store.html">店舗案内</a></li>
        <li><a href="contact.html">在宅医療</a></li>
        <li><a href="page_m.html">会社概要</a></li>
        <li><a href="page_r.html">採用情報</a></li>
      </ul>
    </nav>
  </div>
</header><!--l-header-->
<div class="l-contents">
<div class="store m-page">
    <section class="store-detail">
        <div class="m-inner">
            <div class="title">title</div>
        </div>
        <p class="store-main"><img src="img/store/main.jpg" height="266" width="375" alt=""></p>
        <div class="m-block">
            <dl class="store-detail__address">
                <dt>〒444-0848 岡崎市向山町2-28</dt>
                <dd><a href="">[地図アプリを起動で見る]</a></dd>
            </dl>
            <p class="store-detail__contact-01">0564-58-2777</p>
            <ul class="store-detail__contact-02">
                <li>FAX : 0564-83-6126</li>
                <li>緊急 : 070-5335-6126</li> 
            </ul>
            <dl class="store-detail__time">
                <dt>営業時間</dt>
                <dd>月曜 | 9:00 - 19:00</dd>
                <dd>火曜 | 9:00 - 19:00</dd>
                <dd>水曜 | 9:00 - 17:00</dd>
                <dd>木曜 | 9:00 - 19:00</dd>
                <dd>金曜 | 9:00 - 19:00</dd>
                <dd>土曜 | 9:00 - 15:00</dd>
                <dd>日曜 | 定休日</dd>
            </dl>
            <ul class="m-photo-list">
                <li><img src="img/store/detail-01.jpg" alt=""></li>
                <li><img src="img/store/detail-02.jpg" alt=""></li>
                <li><img src="img/store/detail-03.jpg" alt=""></li>
                <li><img src="img/store/detail-04.jpg" alt=""></li>
            </ul>
            <div class="gmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.747798537271!2d139.74323885121694!3d35.658584838722945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bbd9009ec09%3A0x481a93f0d2a409dd!2z5p2x5Lqs44K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1528680558675" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <dl class="store-detail__address">
                <dt>〒444-0848 岡崎市向山町2-28</dt>
                <dd><a href="">[地図アプリを起動で見る]</a></dd>
            </dl>
        </div>
    </section>
    <section class="store-info">
        <h2 class="m-ttl">店舗のご案内</h2>
        <div class="store-info-row">
            <div class="store-info-unit store-info-row__col">
                <p><img src="img/store/store-info-01.png" alt=""></p>
                <div class="m-inner">
                    <h3 class="store-info-unit__ttl">パナプラス薬局 むつな店</h3>
                    <ul class="store-info-unit__address">
                        <li>〒444-0848 岡崎市向山町2-28</li>
                        <li> tel: 0564-58-2777</li>
                        <li> 月〜金 9:00 - 19:00 ※水曜は17:00迄</li>
                        <li> 土 9:00 - 15:00</li>
                    </ul>
                    <ul class="store-info-unit__contact">
                        <li><a href="#" class="store-info-unit__btn store-info-unit__btn--detail">店舗詳細</a></li>
                        <li><a href="tel:#" class="store-info-unit__btn store-info-unit__btn--tel">電話する</a></li>
                    </ul>
                </div>
            </div><!-- /.store-unit -->
            <div class="store-info-unit store-info-row__col">
                <p><img src="img/store/store-info-02.png" alt=""></p>
                <div class="m-inner">
                    <h3 class="store-info-unit__ttl">パナプラス薬局 三ヶ根店</h3>
                    <ul class="store-info-unit__address">
                        <li>〒444-0124 額田郡幸田町深溝山ノ入16-1</li>
                        <li>tel: 0564-63-0063</li>
                        <li>月〜金 9:00 - 19:00 /</li>
                        <li>土 9:00 - 13:00 日・祝は店休です。</li>
                    </ul>
                    <ul class="store-info-unit__contact">
                        <li><a href="#" class="store-info-unit__btn store-info-unit__btn--detail">店舗詳細</a></li>
                        <li><a href="tel:#" class="store-info-unit__btn store-info-unit__btn--tel">電話する</a></li>
                    </ul>
                </div>
            </div><!-- /.store-unit -->
            <div class="store-info-unit store-info-row__col">
                <p><img src="img/store/store-info-03.png" alt=""></p>
                <div class="m-inner">
                    <h3 class="store-info-unit__ttl">パナプラス薬局 第２むつな店</h3>
                    <ul class="store-info-unit__address">
                        <li>〒444-0856 岡崎市六名3-3-9</li>
                        <li>tel: 0564-64-4890</li>
                        <li>9:00 - 19:30 /</li>
                        <li>土は9:00 - 13:00 木・日・祝は店休です。</li>
                    </ul>
                    <ul class="store-info-unit__contact">
                        <li><a href="#" class="store-info-unit__btn store-info-unit__btn--detail">店舗詳細</a></li>
                        <li><a href="tel:#" class="store-info-unit__btn store-info-unit__btn--tel">電話する</a></li>
                    </ul>
                </div>
            </div><!-- /.store-unit -->
            <div class="store-info-unit store-info-row__col">
                <p><img src="img/store/store-info-04.png" alt=""></p>
                <div class="m-inner">
                    <h3 class="store-info-unit__ttl">パナプラス薬局 能見店</h3>
                    <ul class="store-info-unit__address">
                        <li>〒444-0073 愛知県岡崎市 能見通1-73-2</li>
                        <li> tel: 0564-83-7601</li>
                        <li>9:00 - 18:00 / 火 14:00 - 18:00 /</li>
                        <li>土 9:00 - 13:00 / 日・祝は店休です。</li>
                    </ul>
                    <ul class="store-info-unit__contact">
                        <li><a href="#" class="store-info-unit__btn store-info-unit__btn--detail">店舗詳細</a></li>
                        <li><a href="tel:#" class="store-info-unit__btn store-info-unit__btn--tel">電話する</a></li>
                    </ul>
                </div>
            </div><!-- /.store-unit -->
        </div>
    </section><!-- /.store-info -->
</div>
</div><!--contents-->


<aside class="l-line-space">
  <div class="u-inner">
    <dl>
      <dt><img src="img/common/line-space-logo.png" alt=""></dt>
      <dd><a href="#"><img src="img/common/line-btn.png" alt=""></a></dd>
    </dl>
  </div>
</aside>
<footer class="l-footer">
    <div class="u-inner">
      <p>なんでもない”ふだん”に、幸せを届ける。</p>
      <p class="l-footer-logo"><img src="img/common/footer-logo.png" alt=""></p>
      <nav class="l-footer-nav">
        <ul>
            <li><a href="">&gt;&nbsp;運営会社</a></li>
            <li><a href="">&gt;&nbsp;プライバシー</a></li>
            <li><a href="">&gt;&nbsp;採用・募集</a></li>
        </ul>
      </nav>
    </div>
</footer><!--footer-->
</div><!--wrapper-->
</body>
</html>
