
.ie{
    .m-ttl{
        padding-bottom: 0.5em;
    }
    .m-btn{
        padding-bottom: 0.25em;
    }
    .m-list li{
        padding-bottom: 0.75em;
    }
    .m-btn--size-full{
        padding-bottom: 0.75em;
    }
    .category-nav__switch{
        padding-bottom: 0.75em;
    }
    .store-info-unit__btn{
        padding-bottom: 0.75em;
    }
    .contact-btn{
        padding-bottom: .25em;
    }
}