@charset "utf-8";
.l{
    &-header{
        padding: 5px 0 20px 0;
        border-top: 10px solid $baseC;
        @include pc($pch) {
            padding: 30px 0;
        }
        &-inner{
            padding: 0 3%;
            @include pc($pch) {
                display: flex;
                -webkit-justify-content: space-between;
                        justify-content: space-between;
                max-width: 960px;
                margin: auto;
                padding: 0;
            }
            @media screen and (min-width: 768px) and (max-width: 980px) {
                padding: 0 15px;
            }
        }
        &-ttl{
            font-size: 1rem;
            text-align: center;
            @include pc($pch) {
                font-size: 1.2rem;
                text-align: left;
            }
        }
        &-row{
            position: relative;
            @include pc($pch) {
                width: 40%;
            }
        }
        &-logo{
            width: 50%;
            margin: auto;
            padding: 20px 0;
            text-align: center;
            @include pc($pch) {
                width: 100%;
                max-width: 330px;
                margin: 0;
                padding: 10px 0 0 0;
                text-align: left;
            }
            a{
                display: block;
            }
        }

    }
    &-gnav{
        @include pc($pch) {
            -webkit-align-self: flex-end;
                    align-self: flex-end;
        }
        ul{
            display: flex;
            -webkit-justify-content: space-around;
                    justify-content: space-around;
            @include pc($pch) {
                -webkit-justify-content: center;
                        justify-content: center;
            }
            li{
                a{
                    display: block;
                    font-size: 1.2rem;
                    @include iphone5() {
                        font-size: 1rem;
                    }
                    @include pc($pch) {
                        padding: 0 1em;
                        font-size: 1.6rem;
                    }
                    @media screen and (min-width: 768px) and (max-width: 980px) {
                        padding: 0 .5em;
                        font-size: 1.5rem;
                    }
                    &:before{
                        content: "";
                        margin-right: 3px;
                        //position: absolute;
                        //left: -1em;
                        //top: 3px;
                        width: 1em;
                        height: 1em;
                        -webkit-border-radius: 1em;
                                border-radius: 1em;
                        background: $baseC;
                        @include pc($pch) {
                            top: 4px;
                        }
                    }
                }
                &:last-child a{
                    @include pc($pch) {
                        padding-right: 0;
                    }
                }
            }
            
        }
    }
    &-contents{
        font-size: 1.6rem;
        color: #272025;
        @include pc($pch) {
            max-width: 990px;
            margin: auto;
            padding: 0 15px;
        }
    }
    /*--line-space--*/
    &-line-space{
        padding: 20px 0 10px 0;
        background: #EBF5EC;
        @include pc($pch) {
            padding: 60px 0 60px 0;
        }
        dt{
            width: 230px;
            margin: 0 auto 10px auto;
        }
        dd{
            width: 90%;
            max-width: 350px;
            margin: auto;
            @include pc($pch) {
                width: 200px;
            }
        }
    }
    /*--footer--*/
    &-footer{
        padding: 50px 3.125% 10px 3.125%;
        background: #707070;
        color: #fff;
        font-size: 1.1rem;
        text-align: center;
        @include pc($pch) {
            padding: 50px 15px 30px 15px;
            font-size: 1.4rem;
        }
        &-logo{
            width: 168px;
            margin: 40px auto 45px auto;
        }
        &-nav{
            width: 90%;
            margin: 0 auto;
            ul{
                display: flex;
                -webkit-justify-content: space-around;
                        justify-content: space-around;
                @include pc($pch) {
                    -webkit-justify-content: center;
                            justify-content: center;
                }
                li{
                    @include pc($pch) {
                        padding: 0 2em;
                    }
                }
            }
        }
    }
    &-pagettl{
        //@each $i in $pageName {.pageTtl-#{$i} {background-image: url("../images/#{$i}/pageTtl.png");}}
    }
}
