
.store{
    &-main{
        img{
            width: 100%;
            max-width: none;
        }
        @include pc($pch) {
            margin: auto;
        }
    }
    &-info{
      margin-top: 5rem;
    }
    &-detail{
        text-align: center;
        &__address{
            margin-bottom: 1em;
        }
        &__contact-01{
            display: inline-block;
            padding-left: 1.25em;

            background: url("/img/ico-tel.png") no-repeat left center;
            -webkit-background-size: .9em;
                    background-size: .9em;
            font-size: 3rem;
            @include pc($pch) {
                margin-bottom: .5em;
                padding-left: 50px;
                font-size: 4rem;
            }
        }
        &__contact-02{
            margin-bottom: 1.5em;
            @include pc($pch) {
                margin-bottom: 3em;
                font-size: 2.4rem;
            }
        }
        &__time{
            overflow: hidden;
            margin-bottom: 1.5em;
            @include pc($pch) {
                margin-bottom: 3em;
            }
            dt{
                font-weight: bold;
                font-size: 1.8rem;
                @include pc($pch) {
                    margin-bottom: 1em;
                    font-size: 2.4rem;
                }
            }
            dd{
                width: 10em;
                margin: auto;
                text-align: left;
                @include pc($pch) {
                    float: left;
                    display: block;
                    width: 25%;
                    padding: 5px 0;
                }
            }
        }
    }
}
