:root {
	/* Colors */
	--primary: rgba(134, 194, 58, 1);
	--subprimary: rgba(36, 153, 68, 1);
	--highlight: rgba(245, 202, 5, 1);
	--white: rgba(255, 255, 255, 1);
	--off-white: rgba(255, 253, 252, 1);
	--grey-1: rgba(245, 243, 242, 1);
	--grey-2: rgba(235, 231, 230, 1);
	--grey-3: rgba(89, 87, 86, 1);
	--grey-4: rgba(66, 64, 64, 1);
	--black: rgba(43, 37, 35, 1);

	/* Typography */
	/* --font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif; */
	--font-family: sans-serif, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic';
	--line-height: 1.5;

	--font-size: 14px;
	--font-size-m: 16px;
	--font-size-l: 18px;

	--body-font-weight: 400;
	--bold-font-weight: 700;

	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;

	/* Miscelaneous */
	--border-radius: .25rem;
	--border-radius2: .5rem;
	--hover-transition: all 150ms ease;
}
