<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5F4254S" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- <div id="loader-bg">
    <div id="loading">
      <img src="/img/image.gif">
    </div>
  </div> -->
  <div class="l-wrapper" id="wrapper">
    {{ partial "nav" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
  </body>
</html>
