{{ define "main" }}

<div class="l-contents">
<!-- page title -->
{{ if eq .Params.type "application" }}
  <!-- 応募要項ページであれば、募集職種ラベルを表示する -->
  {{ partial "application-heading" .Params.label }}
{{ else }}
  {{ partial "page-heading" .Params }}
{{ end }}

{{ if eq .Params.id "store" }}

  <div class="store m-page">
    <section class="store-detail">
        <div class="m-block">

  {{ partial "store-data" .Params }}

  {{ partial "store-images" .Params }}

  {{ partial "store-map" .Params }}


        </div>
    </section>

  {{ partial "stores" .  }}

  </div>
</div><!--contents-->
{{ else }}<!-- except store, others-->

  {{ if eq .Params.id "recruit" }}

    <article class="single">
    <section class="single-section single-section--recruit">


    <div class="m-inner">
      {{ if eq .Params.type "application" }}
        <!-- 応募要項ページであれば、募集職種ラベルを表示する -->
        {{ partial "application-table" .Params }}

        {{ partial "page-heading" .Params.blurbs }}

      {{ end }}

      {{ if .Content }}
        {{ .Content }}
      {{ end }}
    </div>

    </section>

    </article >
  </div><!--contents-->

  {{ partial "contact-box-recruit" }}

  {{ else }}


    <article class="single">
    <section class="single-section">


    <div class="m-inner">
    {{ if .Content }}
      {{ .Content }}
    {{ end }}
    </div>

    </section>

    </article >

  </div><!--contents-->

  {{ partial "contact-box-medi" }}

  {{ end }}

{{ end }}

{{ end }}
