{{ define "main" }}

  <div class="l-contents">
    <article class="single">
      <header>
        <div class="m-inner">
          <div class="title title--post">{{.Title}}</div>
          <div class="post-data">
            <p>{{ .Date.Format "2006年1月2日" }}</p>
            <p>読むのに必要な時間：{{ .ReadingTime }}分</p>
          </div>
          <div class="description description--post">
              {{.Description}}
          </div>
        </div>
      </header>
      <section class="single-section">
        {{ if .Params.image }}<p class="single-main"><img src="{{ .Params.image }}" alt="{{ .Title }}" /></p>{{ end }}
        <div class="m-inner">
          {{.Content}}
        </div>
      </section>
    </article >
  </div>
{{ end }}
