{{ define "main" }}
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<div class="l-contents">
  {{ partial "page-heading" .Params}}

  <article class="single">
  <section class="single-section single-section--recruit">
    <div class="m-inner">


    {{ partial "news-regularpage" . }}

    <div style="text-align:center">
      <img src="/img/instagram.png" alt="instagram" style="max-width:100%;">
    </div>

    {{ partial "recruit-pics" }}

    {{ partial "page-heading" .Params.blurbs }}


    {{ if .Content }}
      {{ .Content }}
    {{ end }}

    </div>

    </section>

    </article >
  </div><!--contents-->

{{ partial "contact-box-recruit" }}

{{ end }}
