@charset "UTF-8";
/*-------------------------------------------------------
1.leyout 
--------------------------------------------------------*/
html {
  font-family: -apple-system, BlinkMacSystemFont, "游ゴシック Medium", "Yu Gothic Medium", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif;
  line-height: 1.6;
  font-size: 62.5%;
  color: #272025; }

.l {
  /*--line-space--*/
  /*--footer--*/ }
  .l-header {
    padding: 5px 0 20px 0;
    border-top: 10px solid #7FBF34; }
    @media all and (min-width: 768px) {
      .l-header {
        padding: 30px 0; } }
    .l-header-inner {
      padding: 0 3%; }
      @media all and (min-width: 768px) {
        .l-header-inner {
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          max-width: 960px;
          margin: auto;
          padding: 0; } }
      @media screen and (min-width: 768px) and (max-width: 980px) {
        .l-header-inner {
          padding: 0 15px; } }
    .l-header-ttl {
      font-size: 1rem;
      text-align: center; }
      @media all and (min-width: 768px) {
        .l-header-ttl {
          font-size: 1.2rem;
          text-align: left; } }
    .l-header-row {
      position: relative; }
      @media all and (min-width: 768px) {
        .l-header-row {
          width: 40%; } }
    .l-header-logo {
      width: 50%;
      margin: auto;
      padding: 20px 0;
      text-align: center; }
      @media all and (min-width: 768px) {
        .l-header-logo {
          width: 100%;
          max-width: 330px;
          margin: 0;
          padding: 10px 0 0 0;
          text-align: left; } }
      .l-header-logo a {
        display: block; }
  @media all and (min-width: 768px) {
    .l-gnav {
      -webkit-align-self: flex-end;
      align-self: flex-end; } }
  .l-gnav ul {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
    @media all and (min-width: 768px) {
      .l-gnav ul {
        -webkit-justify-content: center;
        justify-content: center; } }
    .l-gnav ul li a {
      display: block;
      font-size: 1.2rem; }
      @media all and (max-width: 374px) {
        .l-gnav ul li a {
          font-size: 1rem; } }
      @media all and (min-width: 768px) {
        .l-gnav ul li a {
          padding: 0 1em;
          font-size: 1.6rem; } }
      @media screen and (min-width: 768px) and (max-width: 980px) {
        .l-gnav ul li a {
          padding: 0 .5em;
          font-size: 1.5rem; } }
      .l-gnav ul li a:before {
        content: "";
        margin-right: 3px;
        width: 1em;
        height: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        background: #7FBF34; }
        @media all and (min-width: 768px) {
          .l-gnav ul li a:before {
            top: 4px; } }
    @media all and (min-width: 768px) {
      .l-gnav ul li:last-child a {
        padding-right: 0; } }
  .l-contents {
    font-size: 1.6rem;
    color: #272025; }
    @media all and (min-width: 768px) {
      .l-contents {
        max-width: 990px;
        margin: auto;
        padding: 0 15px; } }
  .l-line-space {
    padding: 20px 0 10px 0;
    background: #EBF5EC; }
    @media all and (min-width: 768px) {
      .l-line-space {
        padding: 60px 0 60px 0; } }
    .l-line-space dt {
      width: 230px;
      margin: 0 auto 10px auto; }
    .l-line-space dd {
      width: 90%;
      max-width: 350px;
      margin: auto; }
      @media all and (min-width: 768px) {
        .l-line-space dd {
          width: 200px; } }
  .l-footer {
    padding: 50px 3.125% 10px 3.125%;
    background: #707070;
    color: #fff;
    font-size: 1.1rem;
    text-align: center; }
    @media all and (min-width: 768px) {
      .l-footer {
        padding: 50px 15px 30px 15px;
        font-size: 1.4rem; } }
    .l-footer-logo {
      width: 168px;
      margin: 40px auto 45px auto; }
    .l-footer-nav {
      width: 90%;
      margin: 0 auto; }
      .l-footer-nav ul {
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around; }
        @media all and (min-width: 768px) {
          .l-footer-nav ul {
            -webkit-justify-content: center;
            justify-content: center; } }
        @media all and (min-width: 768px) {
          .l-footer-nav ul li {
            padding: 0 2em; } }

/*-----------------------------------------------------
2.utility
------------------------------------------------------*/
/*--float--*/
.u-fl {
  float: left; }

.u-fr {
  float: right; }

.u-clear {
  clear: both; }

.u-cf:after {
  content: "";
  display: block;
  clear: both; }

/*--margin,padding--*/
.u-mt100 {
  margin-top: 100px; }

.u-mt95 {
  margin-top: 95px; }

.u-mt90 {
  margin-top: 90px; }

.u-mt85 {
  margin-top: 85px; }

.u-mt80 {
  margin-top: 80px; }

.u-mt75 {
  margin-top: 75px; }

.u-mt70 {
  margin-top: 70px; }

.u-mt65 {
  margin-top: 65px; }

.u-mt60 {
  margin-top: 60px; }

.u-mt55 {
  margin-top: 55px; }

.u-mt50 {
  margin-top: 50px; }

.u-mt45 {
  margin-top: 45px; }

.u-mt40 {
  margin-top: 40px; }

.u-mt35 {
  margin-top: 35px; }

.u-mt30 {
  margin-top: 30px; }

.u-mt25 {
  margin-top: 25px; }

.u-mt20 {
  margin-top: 20px; }

.u-mt15 {
  margin-top: 15px; }

.u-mt10 {
  margin-top: 10px; }

.u-mt05 {
  margin-top: 5px; }

.u-mb100 {
  margin-bottom: 100px; }

.u-mb95 {
  margin-bottom: 95px; }

.u-mb90 {
  margin-bottom: 90px; }

.u-mb85 {
  margin-bottom: 85px; }

.u-mb80 {
  margin-bottom: 80px; }

.u-mb75 {
  margin-bottom: 75px; }

.u-mb70 {
  margin-bottom: 70px; }

.u-mb65 {
  margin-bottom: 65px; }

.u-mb60 {
  margin-bottom: 60px; }

.u-mb55 {
  margin-bottom: 55px; }

.u-mb50 {
  margin-bottom: 50px; }

.u-mb45 {
  margin-bottom: 45px; }

.u-mb40 {
  margin-bottom: 40px; }

.u-mb35 {
  margin-bottom: 35px; }

.u-mb30 {
  margin-bottom: 30px; }

.u-mb25 {
  margin-bottom: 25px; }

.u-mb20 {
  margin-bottom: 20px; }

.u-mb15 {
  margin-bottom: 15px; }

.u-mb10 {
  margin-bottom: 10px; }

.u-mb05 {
  margin-bottom: 5px; }

.u-ml50 {
  margin-left: 50px; }

.u-ml45 {
  margin-left: 45px; }

.u-ml40 {
  margin-left: 40px; }

.u-ml35 {
  margin-left: 35px; }

.u-ml30 {
  margin-left: 30px; }

.u-ml25 {
  margin-left: 25px; }

.u-ml20 {
  margin-left: 20px; }

.u-ml15 {
  margin-left: 15px; }

.u-ml10 {
  margin-left: 10px; }

.u-ml05 {
  margin-left: 5px; }

.u-mr50 {
  margin-right: 50px; }

.u-mr45 {
  margin-right: 45px; }

.u-mr40 {
  margin-right: 40px; }

.u-mr35 {
  margin-right: 35px; }

.u-mr30 {
  margin-right: 30px; }

.u-mr25 {
  margin-right: 25px; }

.u-mr20 {
  margin-right: 20px; }

.u-mr15 {
  margin-right: 15px; }

.u-mr10 {
  margin-right: 10px; }

.u-mr05 {
  margin-right: 5px; }

/*--text--*/
.u-bold {
  font-weight: bold; }

.u-under {
  text-decoration: underline; }

.u-tl {
  text-align: left; }

.u-tc {
  text-align: center; }

.u-tr {
  text-align: right; }

strong {
  font-weight: bold; }

/*--font-size--*/
.u-font-s {
  font-size: 1.2rem; }

.u-font-m {
  font-size: 1.6rem; }

.u-font-l {
  font-size: 1.8rem; }

.gmap {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden; }
  .gmap iframe, .gmap object, .gmap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.gmap {
  margin: 20px -8%; }
  @media all and (min-width: 768px) {
    .gmap {
      padding-bottom: 45%;
      margin: 60px 0 40px 0; } }

/*-----------------------------------------------------
3.sp pc
------------------------------------------------------*/
@media all and (min-width: 768px) {
  .sp-only {
    display: none !important; } }

@media all and (max-width: 767px) {
  .pc-only {
    display: none !important; } }

/*-----------------------------------------------------
4.module
------------------------------------------------------*/
.m {
  /*--btn--*/
  /*--ttl--*/
  /*--nav,list--*/
  /*--box,unit--*/ }
  .m-btn {
    display: block;
    margin: auto;
    padding: .5em;
    text-align: center;
    background: #7FBF34;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem; }
    @media all and (min-width: 768px) {
      .m-btn {
        font-size: 1.8rem; } }
    .m-btn--size-m {
      width: 12em; }
    .m-btn--size-full {
      width: 100%;
      padding: 1em;
      font-size: 1.8rem; }
      @media all and (min-width: 768px) {
        .m-btn--size-full {
          max-width: 375px; } }
    .m-btn--pink {
      color: #E6855E;
      background: #fff; }
  .m-contact-btn {
    display: block;
    padding: .75em 1em .5em 1em;
    background: #E6855E;
    color: #fff;
    text-align: center; }
    @media all and (min-width: 768px) {
      .m-contact-btn {
        width: 375px;
        margin: auto; } }
    .m-contact-btn span {
      display: block; }
    .m-contact-btn__01 {
      font-size: 2.4rem;
      font-weight: bold; }
    .m-contact-btn__02 {
      font-size: 1.1rem; }
  .m-ttl {
    padding: 1.25em;
    background: #7FBF34;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    color: #272025;
    line-height: 1;
    color: #fff; }
    @media all and (min-width: 768px) {
      .m-ttl {
        padding: 1em;
        font-size: 2.4rem; } }
    .m-ttl--yellow {
      background: #E4E80F;
      color: #272025; }
  @media all and (min-width: 768px) {
    .m-list {
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      max-width: 90%;
      margin: auto; } }
  .m-list li {
    margin-bottom: 10px;
    padding: 1em;
    background: #B3E5A1;
    font-weight: bold;
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif; }
    @media all and (min-width: 768px) {
      .m-list li {
        width: 49%;
        text-align: center; } }
    .m-list li a {
      font-size: inherit;
      font-weight: inherit; }
  .m-list--yellow li {
    background: #FFFDDB; }
  .m-list--pink li {
    border: solid 2px #E6855E;
    background: #FFF; }
  @media all and (min-width: 768px) {
    .m-list {
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      max-width: 90%;
      margin: auto; } }
  .m-list li {
    margin-bottom: 10px;
    padding: 1em;
    background: #B3E5A1;
    font-weight: bold;
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif; }
    @media all and (min-width: 768px) {
      .m-list li {
        width: 49%;
        text-align: center; } }
    .m-list li a {
      display: block;
      margin: -1em;
      padding: 1em;
      font-size: inherit;
      font-weight: inherit; }
  .m-list--yellow li {
    background: #FFFDDB; }
  .m-list--pink li {
    border: solid 2px #E6855E;
    background: #FFF; }
  .m-photo-list {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .m-photo-list li {
      width: calc(50% - 5px);
      margin-bottom: 10px;
      list-style: none !important; }
      @media all and (min-width: 768px) {
        .m-photo-list li {
          width: calc(25% - 5px); } }
      .m-photo-list li img {
        width: 100%;
        max-width: auto; }
  .m-unit {
    padding: 30px 0;
    background: #EBF5EC;
    border: 3px solid #009250; }
    @media all and (min-width: 768px) {
      .m-unit {
        padding: 50px 0; } }
    .m-unit--yellow {
      background: #fff;
      border-color: #E4E80F; }
    .m-unit--pink {
      background: #fff;
      border-color: #E6855E; }
  .m-block {
    padding: 50px 8%; }
    @media all and (min-width: 768px) {
      .m-block {
        padding: 50px 15px; } }
  .m-inner {
    padding: 0 8%; }
    @media all and (min-width: 768px) {
      .m-inner {
        max-width: 960px;
        margin: auto;
        padding: 0; } }
  .m-page {
    padding: 10px 0 70px 0; }
    @media all and (min-width: 768px) {
      .m-page {
        padding: 20px 0 70px 0; } }

.title {
  margin-bottom: 2em;
  border-bottom: 5px solid #009250;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center; }
  @media all and (min-width: 768px) {
    .title {
      font-size: 2.4rem; } }
  .title--recruit {
    border-color: #E6855E; }
  .title--user {
    border-color: #E4E80F; }
  .title--post {
    margin-bottom: 0.2em;
    border-bottom: 5px solid #7FBF34;
    text-align: left;
    text-indent: 0.2em; }

.description {
  margin-bottom: 2em;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "游ゴシック Medium", "Yu Gothic Medium", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif;
  font-size: 1.4rem;
  text-align: left; }
  @media all and (min-width: 768px) {
    .description {
      font-size: 1.6rem; } }
  .description--post {
    text-align: left; }

.post-data {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
  font-size: 1rem; }
  .post-data p {
    margin-bottom: 18px;
    margin-bottom: 1rem;
    max-width: 576px;
    max-width: 32rem; }

.application {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  margin-bottom: 1rem; }
  .application span {
    padding: 10px 20px;
    padding: 0.5rem 1rem;
    vertical-align: middle; }
  .application .label {
    background-color: #009250;
    color: #FFFFFF;
    width: 8em;
    text-align: center; }
    @media all and (min-width: 768px) {
      .application .label {
        width: 12em; } }
    .application .label--mc {
      background-color: #7FBF34; }
    .application .label--rd {
      background-color: #E4E80F; }

/*-----------------------------------------------------
5.page
------------------------------------------------------*/
.main-img {
  padding: 50px;
  -webkit-background-size: cover;
  background-size: cover; }
  @media all and (min-width: 768px) {
    .main-img {
      margin-bottom: 50px;
      padding: 100px 50px;
      text-align: center; } }
  .main-img__ttl {
    margin-bottom: 0.5em;
    color: #009250;
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.4; }
    @media all and (min-width: 768px) {
      .main-img__ttl {
        margin-bottom: 1em;
        font-size: 4rem; } }
  .main-img__txt {
    margin-bottom: 1.5em;
    font-size: 1.3rem; }
    @media all and (min-width: 768px) {
      .main-img__txt {
        margin-bottom: 2.5em;
        font-size: 1.8rem; } }

.category-nav {
  display: flex; }
  .category-nav__switch {
    width: 50%;
    padding: 1em .5em;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif;
    cursor: pointer; }
    @media all and (min-width: 768px) {
      .category-nav__switch {
        font-size: 2rem; } }
    .category-nav__switch--01 {
      background: #009250; }
    .category-nav__switch--02 {
      background: #E6855E; }

.category-lead {
  margin-bottom: 2em;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif; }
  @media all and (min-width: 768px) {
    .category-lead {
      max-width: 90%;
      margin: 0 auto 2em auto; } }

.category-list {
  margin-bottom: 1.5em; }

.greeting {
  max-width: 90%;
  margin: auto; }
  .greeting-ttl {
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold; }
    @media all and (min-width: 768px) {
      .greeting-ttl {
        font-size: 2.4rem; } }
  .greeting-cnt {
    margin: auto;
    padding: 2em 2em 1em 2em;
    border: solid 1px #707070;
    border-radius: 10px;
    font-size: 1.2rem; }
    @media all and (min-width: 768px) {
      .greeting-cnt {
        font-size: 1.6rem; } }
    .greeting-cnt__name {
      overflow: hidden;
      margin-top: 2em; }
      @media all and (min-width: 768px) {
        .greeting-cnt__name {
          margin-top: 4em; } }
      .greeting-cnt__name dl {
        float: right; }
        .greeting-cnt__name dl dt {
          font-size: 1rem; }
          @media all and (min-width: 768px) {
            .greeting-cnt__name dl dt {
              font-size: 1.4rem; } }
        .greeting-cnt__name dl dd {
          font-size: 1.4rem; }
          @media all and (min-width: 768px) {
            .greeting-cnt__name dl dd {
              font-size: 1.8rem; } }
          .greeting-cnt__name dl dd span {
            margin-right: 1em;
            font-size: 1rem; }
            @media all and (min-width: 768px) {
              .greeting-cnt__name dl dd span {
                font-size: 1.4rem; } }

.relation-lead {
  margin-bottom: 1.5em; }
  @media all and (min-width: 768px) {
    .relation-lead {
      max-width: 90%;
      margin: 0 auto 3em auto; } }

.relation-sub {
  margin-bottom: 1em;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif; }
  @media all and (min-width: 768px) {
    .relation-sub {
      margin-bottom: 2em;
      font-size: 2rem; } }

.relation-list {
  margin-bottom: 1.5em; }

.topics-ttl {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif; }
  @media all and (min-width: 768px) {
    .topics-ttl {
      margin-bottom: 20px;
      font-size: 2.4rem; } }

.topics-unit {
  font-size: 1.2rem;
  padding: 20px 0 5px 1em;
  border-bottom: #BCBCBC solid 1px; }
  @media all and (min-width: 768px) {
    .topics-unit {
      padding: 20px 0 20px 1em;
      font-size: 1.6rem; } }
  .topics-unit__ttl {
    position: relative;
    margin-bottom: 0.5em;
    padding-left: 0.25em;
    font-size: 1.4rem; }
    @media all and (min-width: 768px) {
      .topics-unit__ttl {
        font-size: 1.8rem; } }
    .topics-unit__ttl:before {
      content: "";
      position: absolute;
      left: -1em;
      top: 3px;
      width: 1em;
      height: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      background: #7FBF34; }
      @media all and (min-width: 768px) {
        .topics-unit__ttl:before {
          top: 4px; } }
  .topics-unit__txt {
    margin-bottom: 1em; }
  .topics-unit__time {
    font-size: 1.0rem;
    -webkit-align-self: center;
    align-self: center; }
  .topics-unit__tag {
    -webkit-align-self: center;
    align-self: center; }
    .topics-unit__tag li {
      display: inline-block;
      margin: 0 5px;
      padding: .5em 1.5em;
      line-height: 1;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: #FFFDDB;
      text-align: center; }
      .topics-unit__tag li a {
        font-weight: bold; }
  .topics-unit__row {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }

.store-info-row {
  padding-top: 40px; }
  @media all and (min-width: 768px) {
    .store-info-row {
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      padding-top: 60px; }
      .store-info-row__col {
        width: 48%; } }

.store-info-unit {
  padding-bottom: 20px; }
  @media all and (min-width: 768px) {
    .store-info-unit {
      padding-bottom: 60px; } }
  .store-info-unit__ttl {
    margin-bottom: 1em;
    padding-top: 1em;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center; }
    @media all and (min-width: 768px) {
      .store-info-unit__ttl {
        font-size: 2.4rem; } }
  .store-info-unit__address {
    margin-bottom: 1em; }
    @media all and (min-width: 768px) {
      .store-info-unit__address {
        margin-bottom: 2em;
        text-align: center; } }
  .store-info-unit__contact {
    width: 100%;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    @media all and (min-width: 768px) {
      .store-info-unit__contact {
        -webkit-justify-content: center;
        justify-content: center; } }
    .store-info-unit__contact li {
      width: 8em; }
      @media all and (min-width: 768px) {
        .store-info-unit__contact li {
          width: 12em;
          margin: 0 1em; } }
  .store-info-unit__btn {
    display: block;
    padding: 1em;
    line-height: 1;
    border: 2px solid #7FBF34;
    text-align: center;
    font-size: 1.2rem; }
    @media all and (min-width: 768px) {
      .store-info-unit__btn {
        font-size: 1.6rem; } }
    .store-info-unit__btn--tel {
      -webkit-border-radius: 5px;
      border-radius: 5px;
      color: #7FBF34; }
    .store-info-unit__btn--detail {
      background: #7FBF34;
      color: #fff; }

.store-main img {
  width: 100%;
  max-width: none; }

@media all and (min-width: 768px) {
  .store-main {
    margin: auto; } }

.store-detail {
  text-align: center; }
  .store-detail__address {
    margin-bottom: 1em; }
  .store-detail__contact-01 {
    display: inline-block;
    padding-left: 1.25em;
    background: url("/img/ico-tel.png") no-repeat left center;
    -webkit-background-size: .9em;
    background-size: .9em;
    font-size: 3rem; }
    @media all and (min-width: 768px) {
      .store-detail__contact-01 {
        margin-bottom: .5em;
        padding-left: 50px;
        font-size: 4rem; } }
  .store-detail__contact-02 {
    margin-bottom: 1.5em; }
    @media all and (min-width: 768px) {
      .store-detail__contact-02 {
        margin-bottom: 3em;
        font-size: 2.4rem; } }
  .store-detail__time {
    overflow: hidden;
    margin-bottom: 1.5em; }
    @media all and (min-width: 768px) {
      .store-detail__time {
        margin-bottom: 3em; } }
    .store-detail__time dt {
      font-weight: bold;
      font-size: 1.8rem; }
      @media all and (min-width: 768px) {
        .store-detail__time dt {
          margin-bottom: 1em;
          font-size: 2.4rem; } }
    .store-detail__time dd {
      width: 10em;
      margin: auto;
      text-align: left; }
      @media all and (min-width: 768px) {
        .store-detail__time dd {
          float: left;
          display: block;
          width: 25%;
          padding: 5px 0; } }

.contact-ttl {
  margin-bottom: 2.5em;
  border-bottom: solid 5px #009250;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold; }
  @media all and (min-width: 768px) {
    .contact-ttl {
      font-size: 2.4rem; } }

.contact-list {
  color: #009250;
  font-size: 1.1rem; }
  @media all and (min-width: 768px) {
    .contact-list {
      max-width: 768px;
      margin: auto;
      font-size: 1.4rem; } }
  .contact-list li {
    margin-bottom: 20px; }
    @media all and (min-width: 768px) {
      .contact-list li {
        margin-bottom: 40px; } }

.contact-error {
  position: relative; }
  .contact-error:after {
    content: "";
    display: block;
    position: absolute;
    right: 1.5em;
    top: 14px;
    width: 14px;
    height: 14px;
    margin: auto;
    background: url("../img/contact/ico-error.png") no-repeat right center;
    -webkit-background-size: 14px;
    background-size: 14px; }
    @media all and (min-width: 768px) {
      .contact-error:after {
        top: 18px; } }

.contact-check {
  margin-bottom: 2em;
  color: #009250;
  text-align: center;
  font-size: 1.1rem;
  line-height: 2;
  cursor: pointer; }
  @media all and (min-width: 768px) {
    .contact-check {
      margin-bottom: 3em;
      font-size: 1.4rem; } }
  .contact-check input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
    width: 2em;
    height: 2em;
    background: #009250;
    vertical-align: middle;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .contact-check input[type="checkbox"]:checked {
    background: #009250 url("../img/contact/ico-check.png") no-repeat center;
    -webkit-background-size: 1.5em;
    background-size: 1.5em; }

.contact select::-ms-expand {
  display: none; }

.contact-select {
  position: relative; }
  .contact-select:before {
    content: "";
    position: absolute;
    right: 1.5em;
    top: 0;
    bottom: 0;
    display: block;
    width: 10px;
    height: 10px;
    margin: auto;
    background: url("../img/contact/ico-select.svg") no-repeat center;
    -webkit-background-size: 10px;
    background-size: 10px; }

.contact select {
  width: 100%;
  height: 42px;
  -webkit-border-radius: 0;
  border-radius: 0;
  line-height: 42px;
  padding: 0 1.5em;
  border: solid 1px #009250;
  color: #272025;
  font-family: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  @media all and (min-width: 768px) {
    .contact select {
      height: 54px;
      line-height: 54px; } }
  .contact select option {
    color: #272025; }

.contact input[type="text"],
.contact input[type="tel"],
.contact input[type="email"] {
  display: block;
  width: 100%;
  height: 42px;
  line-height: 42px;
  margin-bottom: 10px;
  padding: 0 1.5em;
  border: #009250 solid 1px;
  font-size: 1.2rem;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-image: linear-gradient(#fff, #fff);
  -webkit-box-shadow: none;
  box-shadow: none; }
  @media all and (min-width: 768px) {
    .contact input[type="text"],
    .contact input[type="tel"],
    .contact input[type="email"] {
      height: 54px;
      line-height: 54px;
      font-size: 1.4rem; } }

.contact ::-webkit-input-placeholder {
  color: #272025; }

.contact textarea {
  display: block;
  width: 100%;
  height: 16em;
  padding: 1em 1.5em;
  border: #009250 solid 1px;
  font-size: 1.2rem; }
  @media all and (min-width: 768px) {
    .contact textarea {
      font-size: 1.6rem; } }

.contact-btn {
  display: block;
  width: 100%;
  padding: .5em;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #009250;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: inherit; }
  @media all and (min-width: 768px) {
    .contact-btn {
      max-width: 376px;
      margin: auto; } }

.contact-remarks {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
  text-indent: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif; }
  @media all and (min-width: 768px) {
    .contact-remarks {
      text-indent: 0; } }

.contact-r-ttl {
  margin-bottom: 2.5em;
  border-bottom: solid 5px #E6855E;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold; }
  @media all and (min-width: 768px) {
    .contact-r-ttl {
      font-size: 2.4rem; } }

.contact-r-list {
  color: #E6855E;
  font-size: 1.1rem; }
  @media all and (min-width: 768px) {
    .contact-r-list {
      max-width: 768px;
      margin: auto;
      font-size: 1.4rem; } }
  .contact-r-list li {
    margin-bottom: 20px; }
    @media all and (min-width: 768px) {
      .contact-r-list li {
        margin-bottom: 40px; } }

.contact-r-error {
  position: relative; }
  .contact-r-error:after {
    content: "";
    display: block;
    position: absolute;
    right: 1.5em;
    top: 14px;
    width: 14px;
    height: 14px;
    margin: auto;
    background: url("../img/contact/ico-error.png") no-repeat right center;
    -webkit-background-size: 14px;
    background-size: 14px; }
    @media all and (min-width: 768px) {
      .contact-r-error:after {
        top: 18px; } }

.contact-r-check {
  margin-bottom: 2em;
  color: #E6855E;
  text-align: center;
  font-size: 1.1rem;
  line-height: 2;
  cursor: pointer; }
  @media all and (min-width: 768px) {
    .contact-r-check {
      margin-bottom: 3em;
      font-size: 1.4rem; } }
  .contact-r-check input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
    width: 2em;
    height: 2em;
    background: #E6855E;
    vertical-align: middle;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .contact-r-check input[type="checkbox"]:checked {
    background: #E6855E url("../img/contact/ico-check.png") no-repeat center;
    -webkit-background-size: 1.5em;
    background-size: 1.5em; }

.contact-r select::-ms-expand {
  display: none; }

.contact-r-select {
  position: relative; }
  .contact-r-select:before {
    content: "";
    position: absolute;
    right: 1.5em;
    top: 0;
    bottom: 0;
    display: block;
    width: 10px;
    height: 10px;
    margin: auto;
    background: url("../img/contact/ico-select.svg") no-repeat center;
    -webkit-background-size: 10px;
    background-size: 10px; }

.contact-r select {
  width: 100%;
  height: 42px;
  -webkit-border-radius: 0;
  border-radius: 0;
  line-height: 42px;
  padding: 0 1.5em;
  border: solid 1px #E6855E;
  color: #272025;
  font-family: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  @media all and (min-width: 768px) {
    .contact-r select {
      height: 54px;
      line-height: 54px; } }
  .contact-r select option {
    color: #272025; }

.contact-r input[type="text"],
.contact-r input[type="tel"],
.contact-r input[type="email"] {
  display: block;
  width: 100%;
  height: 42px;
  line-height: 42px;
  margin-bottom: 10px;
  padding: 0 1.5em;
  border: #E6855E solid 1px;
  font-size: 1.2rem;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-image: linear-gradient(#fff, #fff);
  -webkit-box-shadow: none;
  box-shadow: none; }
  @media all and (min-width: 768px) {
    .contact-r input[type="text"],
    .contact-r input[type="tel"],
    .contact-r input[type="email"] {
      height: 54px;
      line-height: 54px;
      font-size: 1.4rem; } }

.contact-r ::-webkit-input-placeholder {
  color: #272025; }

.contact-r textarea {
  display: block;
  width: 100%;
  height: 16em;
  padding: 1em 1.5em;
  border: #E6855E solid 1px;
  font-size: 1.2rem; }
  @media all and (min-width: 768px) {
    .contact-r textarea {
      font-size: 1.6rem; } }

.contact-r-btn {
  display: block;
  width: 100%;
  padding: .5em;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #E6855E;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: inherit; }
  @media all and (min-width: 768px) {
    .contact-r-btn {
      max-width: 376px;
      margin: auto; } }

.contact-r-remarks {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
  text-indent: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif; }
  @media all and (min-width: 768px) {
    .contact-r-remarks {
      text-indent: 0; } }

.single {
  padding-top: 10px; }
  @media all and (min-width: 768px) {
    .single {
      padding-top: 20px; } }
  .single-main {
    margin-bottom: 2em !important;
    text-align: center; }
    @media all and (min-width: 768px) {
      .single-main img {
        max-width: 100%;
        width: 100%;
        height: 300px;
        object-fit: cover; } }
  .single-section {
    padding-bottom: 30px;
    font-size: 1.2rem; }
    @media all and (min-width: 768px) {
      .single-section {
        font-size: 1.6rem; } }
    .single-section--recruit h2 {
      color: #E6855E; }
    .single-section h1 {
      text-indent: 0.2em;
      margin-bottom: 0.5em;
      font-size: 1.8rem;
      font-weight: bold;
      border-bottom: 5px solid #7FBF34; }
      @media all and (min-width: 768px) {
        .single-section h1 {
          margin-bottom: 1em;
          font-size: 2rem; } }
    .single-section h2 {
      margin-bottom: 0.5em;
      font-size: 1.8rem;
      color: #7FBF34;
      font-weight: bold; }
      @media all and (min-width: 768px) {
        .single-section h2 {
          margin-bottom: 1em;
          font-size: 2rem; } }
    .single-section p {
      margin-bottom: 4em;
      font-family: -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif; }
    .single-section ul {
      margin-bottom: 2em; }
      .single-section ul li {
        list-style: disc outside;
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif; }
        .single-section ul li ul {
          margin-bottom: 0;
          padding-left: 1.5em; }
    .single-section ol {
      margin-bottom: 2em; }
      .single-section ol li {
        list-style: decimal outside;
        font-family: -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif;
        font-weight: bold; }
    .single-section figure {
      margin-bottom: 2em;
      text-align: center; }
      .single-section figure figcaption {
        padding: 5px 0; }
    .single-section pre {
      display: block;
      margin-bottom: 2em;
      padding: 5px;
      background: #EBF5EC;
      white-space: pre-wrap; }
      @media all and (min-width: 768px) {
        .single-section pre {
          padding: 10px;
          margin-bottom: 4em;
          font-size: 1.6rem; } }
    .single-section blockquote {
      margin-bottom: 2em;
      padding: 1em;
      border-left: 15px solid #EBF5EC; }
    .single-section hr {
      display: block;
      margin: 2em 0;
      border: none;
      border-top: 5px solid #EBF5EC; }
      @media all and (min-width: 768px) {
        .single-section hr {
          margin: 4em 0; } }
    .single-section table {
      margin-bottom: 2em; }
      @media all and (min-width: 768px) {
        .single-section table {
          margin-bottom: 4em; } }
      .single-section table th, .single-section table td {
        padding: 1em;
        border: #B3E5A1 solid 1px;
        text-align: left; }
      .single-section table th {
        background: #EBF5EC;
        font-weight: bold; }
        .single-section table th:first-child {
          width: 8em; }
          @media all and (min-width: 768px) {
            .single-section table th:first-child {
              width: 12em; } }
      @media all and (min-width: 768px) {
        .single-section table td {
          text-align: left; } }
    .single-section--recruit h2 {
      color: #E6855E; }
  .single-contact {
    background: #009250;
    color: #FFF;
    text-align: center; }
    .single-contact__ttl {
      margin-bottom: 1.75em;
      font-size: 1.8rem;
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif; }
      @media all and (min-width: 768px) {
        .single-contact__ttl {
          margin-bottom: 1em;
          font-size: 2.4rem; } }
    .single-contact__data {
      margin-bottom: 2em; }
      .single-contact__data dt {
        margin-bottom: 2em;
        font-size: 1.6rem;
        font-family: -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif;
        font-weight: bold; }
        @media all and (min-width: 768px) {
          .single-contact__data dt {
            margin-bottom: 1em;
            font-size: 2rem; } }
      .single-contact__data dd {
        font-size: 3rem;
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif; }
        @media all and (min-width: 768px) {
          .single-contact__data dd {
            font-size: 4rem; } }
    .single-contact--recruit {
      background: #E6855E; }
  .single-links {
    margin-bottom: 4em; }
    @media all and (min-width: 768px) {
      .single-links {
        margin: 0 auto 4em auto; } }
    .single-links h3 {
      display: flex;
      width: 100%;
      height: 5em;
      margin-bottom: 10px;
      padding: 0 1em; }
      @media all and (min-width: 768px) {
        .single-links h3 {
          margin-bottom: 15px;
          height: 4em; } }
      .single-links h3 span {
        display: block;
        -webkit-align-self: center;
        align-self: center;
        color: #FFF;
        font-size: 1.6rem;
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, "游ゴシック", "Yu Gothic", YuGothic, "Helvetica Neue", Verdana, Meiryo, "M+ 1p", sans-serif; }
    .single-links p {
      width: 100%; }
    .single-links ul {
      overflow: hidden; }
      @media all and (min-width: 768px) {
        .single-links ul {
          display: flex;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-justify-content: space-between;
          justify-content: space-between; } }
    .single-links li {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 1.6rem;
      list-style: none !important;
      border: 2px solid; }
      @media all and (min-width: 768px) {
        .single-links li {
          width: 49%; } }
      .single-links li a {
        display: block;
        padding: 1em;
        font-size: inherit;
        font-weight: inherit; }
    .single-links--pink li {
      border-color: #E6855E; }
    .single-links--pink h3 {
      background: #E6855E; }
    .single-links--green li {
      border-color: #009250; }
    .single-links--green h3 {
      background: #009250; }
    .single-links--l-green li {
      border-color: #7FBF34; }
    .single-links--l-green h3 {
      background: #7FBF34; }
    .single-links--yellow li {
      border-color: #E4E80F; }
    .single-links--yellow h3 {
      background: #E4E80F; }

/*-----------------------------------------------------
6.js
------------------------------------------------------*/
.js-tab-cnt:not(:first-of-type) {
  display: none; }

.ie .m-ttl {
  padding-bottom: 0.5em; }

.ie .m-btn {
  padding-bottom: 0.25em; }

.ie .m-list li {
  padding-bottom: 0.75em; }

.ie .m-btn--size-full {
  padding-bottom: 0.75em; }

.ie .category-nav__switch {
  padding-bottom: 0.75em; }

.ie .store-info-unit__btn {
  padding-bottom: 0.75em; }

.ie .contact-btn {
  padding-bottom: .25em; }
